<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">
      <i class="sticky note outline icon"></i>
      <div class="content">
        {{ kwmnote?.noteTitle }}
        <div class="sub header">Note details and timeline</div>
      </div>
    </h2>
  </div>

  <div class="ui divided grid">
    <div class="row">
      <div class="eight wide column">
        <h4 class="ui header">
          <i class="calendar plus icon"></i>
          Created
        </h4>
        <p>{{ kwmnote?.created_at | date:'mediumDate' }}</p>
      </div>
      <div class="eight wide column">
        <h4 class="ui header">
          <i class="calendar check icon"></i>
          Updated
        </h4>
        <p>{{ kwmnote?.updated_at | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>
</div>
